<style>
  .md-subheader .md-subheader-inner {
    display: block;
    padding: 3px 16px;
  }

  .spinalColorButton {
    background-color: rgba(17, 48, 223, 0.644);
  }
  .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<md-subheader>
  <md-content style="height: inherit;cursor: auto;">
    <md-list flex style="padding: 0;">
      <md-list-item class="md-1-line" style="padding: 0 8px;">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

          <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="viewRemoveAllAlert()">
            <!-- TO DO -->
            <md-tooltip>Display object</md-tooltip>
            <i class="fa fa-eye"></i>
          </md-button>

          <md-button ng-repeat="btn in headerBtn" class="md-fab" aria-label="btn.label" style="height: 40px; width: 40px; padding:0;"
            ng-click="headerBtnClick(btn)">
            <md-tooltip>{{btn.label}}</md-tooltip>
            <ng-md-icon icon="{{btn.icon}}" style="fill:white; height: 24px;"></ng-md-icon>
          </md-button>
        </section>
      </md-list-item>
    </md-list>
</md-subheader>
<!-- choose template of no selected group -->




<md-list style="height: 400px;overflow-y: auto">
  <div ng-if="allGroup != 0" ng-repeat="theme in allGroup">
    <md-list-item ng-click="pickGroup(theme)" class="md-1-line">
      <!-- ng-attr-style="{{selectedStyle(theme)}}" -->
      <p class="truncate">
        <md-tooltip>{{theme.name}}</md-tooltip>
        <i class="fa fa-caret-right"></i>
        &nbsp; {{theme.name}}
      </p>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="viewAllAlert(theme)">
        <!-- TO DO -->
        <md-tooltip>Display object</md-tooltip>
        <i class="fa fa-eye"></i>
      </md-button>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="viewAllObject(theme)">
        <!-- TO DO -->
        <md-tooltip>Referencial</md-tooltip>
        <i class="fa fa-puzzle-piece"></i>
      </md-button>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="donut(theme)">
        <!-- TO DO -->
        <md-tooltip>Report</md-tooltip>
        <i class="fa fa-pie-chart"></i>
      </md-button>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="renameGroup(theme)">
        <!-- TO DO -->
        <md-tooltip>Rename</md-tooltip>
        <i class="fa fa-pencil"></i>
      </md-button>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="export(theme)">
        <!-- TO DO -->
        <md-tooltip>Assign to</md-tooltip>
        <i class="fa fa-share-square"></i>
      </md-button>

      <md-button aria-label="Fermer" class="md-secondary i_btn" ng-click="deleteGroup(theme)">
        <!-- TO DO -->
        <md-tooltip>Delete</md-tooltip>
        <i class="fa fa-trash"></i>
      </md-button>

      <md-button aria-label="Rapport" class="md-secondary i_btn" ng-click="createRapport(theme)">
        <!-- TO DO -->
        <md-tooltip>Rapport</md-tooltip>
        <i class="fa fa-book"></i>
      </md-button>

    </md-list-item>
  </div>
</md-list>

<div class="body"></div>
