<style type="text/css">
    ._container {
        /* 210mm x 297mm */
        width: 190mm;
        height: 297mm;
        color: #000;
        background: #ffffff;
        padding: 1cm;
    }


    .header {
        width: 100%;
        height: 80px;
        margin-bottom: 20px;
        padding: 15px;
    }

    .logo {
        width: 195px;
        height: 50px;
        float: left;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }


    .infos {
        width: 60%;
        height: 70px;
        float: right;
    }

    .date {
        width: 100%;
        height: 30%;
    }

    .username {
        width: 100%;
        height: 30%;
    }

    .graph {
        width: 100%;
        min-height: 100px;
    }

    #pdfGraph {
        width: 500px !important;
        height: 250px !important;
        margin: 0px auto !important;
    }

    .myGraphTitle {
        width: 100%;
        background: #3A3A3A;
        color: #ffffff;
        padding: 5px;
    }

    .graphDetail {
        min-width: 80%;
        height: 300px;
        margin-top: 10px;
    }

    .titleDiv {
        padding: 10px;
        background: #3A3A3A;
    }

    .__title {
        color: #ffffff;
        height: 30px;
        display: inline;
    }

    .color_span {
        width: 100px;
        height: 10px;
        border: 1px solid black;
        display: inline-block;
    }
</style>


<div id="myPdfTemplate" class="_container">
    <div class="header">
        <div class="logo">
            <img src="../templates/spinal-env-viewer-group-arrange/SpinalBIM-suite.png" alt="spinalcom">
        </div>

        <div class="infos">
            <div class="title">
                <span class="_title">Rapport : </span>
                <span class="_answer">Theme Name</span>
            </div>

            <div class="date">
                <span class="_title">Date :</span>
                <span class="_answer">10/10/2010</span>
            </div>

            <div class="username">
                <span class="_title">Username :</span>
                <span class="_answer">Admin </span>
            </div>
        </div>
    </div>

    <div class="graph">
        <div class="myGraphTitle">
            <h3>Graph</h3>
        </div>

        <canvas id="pdfGraph"></canvas>
    </div>

    <div id="pdfGraphDetail" class="graphDetail">

    </div>

</div>